<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1207.1209.v69351208a_5a_7">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@2.2121.vd87fb_6536d1e"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@2.2121.vd87fb_6536d1e">
      <jobProperties/>
      <triggers/>
      <parameters>
        <string>AUTOMATICS_GIT_BRANCH_NAME</string>
        <string>AUTOMATICS_PROPERTIES_GIT_CREDENTIALS</string>
        <string>DEVICE_MANAGER_GIT_CREDENTIALS</string>
        <string>AUTOMATICS_GIT_CREDENTIALS</string>
        <string>AUTOMATICS_GIT_URL</string>
        <string>DEVICE_MANAGER_UI_GIT_CREDENTIALS</string>
        <string>AUTOMATICS_PROPERTIES_GIT_BRANCH_NAME</string>
        <string>BUILD_RACK_DATA_SERVICE</string>
        <string>DEVICE_MANAGER_GIT_URL</string>
        <string>DEVICE_MANAGER_UI_GIT_URL</string>
        <string>RACK_DATA_SERVICE_GIT_BRANCH_NAME</string>
        <string>AUTOMATICS_PROPERTIES_GIT_URL</string>
        <string>BUILD_DEVICE_MANAGER_UI</string>
        <string>DEVICE_MANAGER_UI_GIT_BRANCH_NAME</string>
        <string>RACK_DATA_SERVICE_GIT_URL</string>
        <string>BUILD_AUTOMATICS_ORCHESTRATION</string>
        <string>BUILD_AUTOMATICS_PROPERTIES</string>
        <string>RACK_DATA_SERVICE_GIT_CREDENTIALS</string>
        <string>BUILD_DEVICE_MANAGER</string>
        <string>DEVICE_MANAGER_GIT_BRANCH_NAME</string>
      </parameters>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.34">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.BooleanParameterDefinition>
          <name>BUILD_AUTOMATICS_ORCHESTRATION</name>
          <description>Tick this checkbox to build the .war file and Docker image of Automatics Orchestration</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>AUTOMATICS_GIT_URL</name>
          <description>Enter the URL of Automatics Git repository</description>
          <defaultValue>https://code.rdkcentral.com/r/rdk/tools/automatics</defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>AUTOMATICS_GIT_BRANCH_NAME</name>
          <description>Enter Branch Name of Automatics Git repository</description>
          <defaultValue>rdk-next</defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <com.cloudbees.plugins.credentials.CredentialsParameterDefinition plugin="credentials@1143.vb_e8b_b_ceee347">
          <name>AUTOMATICS_GIT_CREDENTIALS</name>
          <description>Select or Add credentials for Automatics Git Login</description>
          <defaultValue></defaultValue>
          <credentialType>com.cloudbees.plugins.credentials.common.StandardCredentials</credentialType>
          <required>false</required>
        </com.cloudbees.plugins.credentials.CredentialsParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>BUILD_AUTOMATICS_PROPERTIES</name>
          <description>Tick this checkbox to build the .war file and Docker image of Automatics Properties</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>AUTOMATICS_PROPERTIES_GIT_URL</name>
          <description>Enter the URL of Automatics Properties Git repository</description>
          <defaultValue>https://code.rdkcentral.com/r/rdk/tools/automatics/automatics-props</defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>AUTOMATICS_PROPERTIES_GIT_BRANCH_NAME</name>
          <description>Enter Branch Name of Automatics Properties Git repository</description>
          <defaultValue>rdk-next</defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <com.cloudbees.plugins.credentials.CredentialsParameterDefinition plugin="credentials@1143.vb_e8b_b_ceee347">
          <name>AUTOMATICS_PROPERTIES_GIT_CREDENTIALS</name>
          <description>Select or Add credentials for Automatics Properties Git Login</description>
          <defaultValue></defaultValue>
          <credentialType>com.cloudbees.plugins.credentials.common.StandardCredentials</credentialType>
          <required>false</required>
        </com.cloudbees.plugins.credentials.CredentialsParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>BUILD_DEVICE_MANAGER</name>
          <description>Tick this checkbox to build the .war file and Docker image of Device Manager</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DEVICE_MANAGER_GIT_URL</name>
          <description>Enter the URL of Device Manager Git repository</description>
          <defaultValue>https://code.rdkcentral.com/r/rdk/tools/device-manager</defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DEVICE_MANAGER_GIT_BRANCH_NAME</name>
          <description>Enter Branch Name of Device Manager Git repository</description>
          <defaultValue>rdk-next</defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <com.cloudbees.plugins.credentials.CredentialsParameterDefinition plugin="credentials@1143.vb_e8b_b_ceee347">
          <name>DEVICE_MANAGER_GIT_CREDENTIALS</name>
          <description>Select or Add credentials for Device Manager Git Login</description>
          <defaultValue></defaultValue>
          <credentialType>com.cloudbees.plugins.credentials.common.StandardCredentials</credentialType>
          <required>false</required>
        </com.cloudbees.plugins.credentials.CredentialsParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>BUILD_DEVICE_MANAGER_UI</name>
          <description>Tick this checkbox to build the .war file and Docker image of Device Manager UI</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DEVICE_MANAGER_UI_GIT_URL</name>
          <description>Enter the URL of Device Manager UI Git repository</description>
          <defaultValue>https://code.rdkcentral.com/r/rdk/tools/device-manager-ui/</defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DEVICE_MANAGER_UI_GIT_BRANCH_NAME</name>
          <description>Enter Branch Name of Device Manager UI Git repository</description>
          <defaultValue>rdk-next</defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <com.cloudbees.plugins.credentials.CredentialsParameterDefinition plugin="credentials@1143.vb_e8b_b_ceee347">
          <name>DEVICE_MANAGER_UI_GIT_CREDENTIALS</name>
          <description>Select or Add credentials for Device Manager UI Git Login</description>
          <defaultValue></defaultValue>
          <credentialType>com.cloudbees.plugins.credentials.common.StandardCredentials</credentialType>
          <required>false</required>
        </com.cloudbees.plugins.credentials.CredentialsParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>BUILD_RACK_DATA_SERVICE</name>
          <description>Tick this checkbox to build the .jar file and Docker image of Rack Data Service</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>RACK_DATA_SERVICE_GIT_URL</name>
          <description>Enter the URL of Rack Data Service Git repository</description>
          <defaultValue>https://code.rdkcentral.com/r/rdk/tools/automatics/scriptless-service</defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>RACK_DATA_SERVICE_GIT_BRANCH_NAME</name>
          <description>Enter Branch Name of Rack Data Service Git repository</description>
          <defaultValue>rdk-next</defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <com.cloudbees.plugins.credentials.CredentialsParameterDefinition plugin="credentials@1143.vb_e8b_b_ceee347">
          <name>RACK_DATA_SERVICE_GIT_CREDENTIALS</name>
          <description>Select or Add credentials for Rack Data Service Git Login</description>
          <defaultValue></defaultValue>
          <credentialType>com.cloudbees.plugins.credentials.common.StandardCredentials</credentialType>
          <required>false</required>
        </com.cloudbees.plugins.credentials.CredentialsParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsScmFlowDefinition" plugin="workflow-cps@3536.vb_8a_6628079d5">
    <scm class="hudson.plugins.git.GitSCM" plugin="git@4.14.3">
      <configVersion>2</configVersion>
      <userRemoteConfigs>
        <hudson.plugins.git.UserRemoteConfig>
          <url>https://code.rdkcentral.com/r/rdk/tools/automatics/dev-ops</url>
        </hudson.plugins.git.UserRemoteConfig>
      </userRemoteConfigs>
      <branches>
        <hudson.plugins.git.BranchSpec>
          <name>*/rdk-next</name>
        </hudson.plugins.git.BranchSpec>
      </branches>
      <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
      <submoduleCfg class="empty-list"/>
      <extensions/>
    </scm>
    <scriptPath>automationScripts/build/Jenkinsfile</scriptPath>
    <lightweight>true</lightweight>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>